*.code-workspace
*.db
*.DS_Store
*.DS_Store?
*.exe
*.jar
*.log
*.log.*
*.msi
*.pkg.*
*.proto
*.pyc
*.sig
*.tar
*.tar.*
*.tgz
*.zip
*.zst

ext/*
logs/
pkg/
src/
tmp/
.vscode/
bash-debugger

#Exceptions
!libagar.tar.zst
!abuse_assets.tar.zst
