*.DS_Store
*.DS_Store?
*.db
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig
*.pkg.*
*.proto
*.code-workspace
*.zst

ext/
pkg/
src/
tmp/
logs/
.vscode/

#Exceptions
!libagar.tar.zst
!abuse_assets.tar.zst
