*.code-workspace
*.db
*.DS_Store
*.DS_Store?
*.exe
*.jar
*.log
*.log.*
*.msi
*.pkg.*
*.proto
*.pyc
*.sig
*.tar
*.tar.*
*.tgz
*.zip
*.zst

.vscode/*
bash-debugger
ext/*
logs/*
src/*
tmp/*

# Add exceptions by prefixing the file or folder name with !
!ext/README.txt
